* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

li {
    list-style: none;
}

/* Navbar */
nav {
    padding: 20px 10%;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
}

.nav-logo,
.right-nav,
.nav {
    display: inline-block;
}

.right-nav {
    float: right;
}

.nav {
    font-weight: 700;
    margin-right: 20px;
}

.tuitt-button {
    color: white;
    background-color: #c2195b;
    font-weight: 700;
    border: none;
    border-radius: 32px;
    padding: 12px 20px;
}

/* Landing Page */
#bg-image {
    min-height: 40vh;
    background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
    background-position: center;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    z-index: 1;
}

.front-bg {
    background-color: black;
    opacity: 0.5;
    height: 100%;
    position: absolute;
    z-index: 2;
}

.container {
    z-index: 3;
    opacity: 1;
}

.title,
.subtitle {
    font-family: 'Zilla Slab', sans-serif;
    color: white;
    width: 40%;
    margin-right: 10%;
    margin-left: auto;
    text-align: right;
}

.title {
    font-size: 3rem;
    margin-bottom: 1em;
}

.subtitle {
    margin-bottom: 0.5em;
}

.apply-button {
    display: block;
    margin-right: 10%;
    margin-left: auto;
    color: white;
    background-color: #c2195b;
    font-weight: 700;
    border: none;
    border-radius: 32px;
    padding: 12px 32px;
}

/* Intro Section */
.intro {
    padding: 10vh 15%;
}

.title-2 {
    margin-bottom: 10vh;
    text-align: center;
}

/* Pre-Footer */
.pre-footer {
    background-color: #f7fbfb;
    padding: 10vh 15%;
}

.prefooter-description {
    text-align: center;
    margin-bottom: 0.5em;
}

.book-button {
    display: block;
    display: block;
    margin: 0 auto;
    color: white;
    background-color: #336589;
    font-weight: 700;
    border: none;
    border-radius: 32px;
    padding: 12px 32px;
}

footer {
    display: flex;
    justify-content: center;
}